<div class="row" style="margin-top: 25px">
  <div class="offset2 span12">
    <div class="row">
      <div class="span12">
        <div class="page-header" style="text-align: center;">
          <h1>Why use it?<br /><small>Good reasons. Very very good reasons.</small></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <h3 style="line-height: 25px">No local currency<br /><small>Aenean quam massa, congue a aliquet at, rhoncus dignissim justo.</small></h3>
      </div>
      <div class="span4">
        <h3 style="line-height: 25px">Choose your transport<br /><small>Aenean quam massa, congue a aliquet at, rhoncus dignissim justo.</small></h3>
      </div>
      <div class="span4">
        <h3 style="line-height: 25px">No worries<br /><small>Aenean quam massa, congue a aliquet at, rhoncus dignissim justo.</small></h3>
      </div>
    </div>
    <div class="row" style="margin-top: 25px">
      <div class="span4">
        <h3 style="line-height: 25px">No local currency<br /><small>Aenean quam massa, congue a aliquet at, rhoncus dignissim justo.</small></h3>
      </div>
      <div class="span4">
        <h3 style="line-height: 25px">Choose your transport<br /><small>Aenean quam massa, congue a aliquet at, rhoncus dignissim justo.</small></h3>
      </div>
      <div class="span4">
        <h3 style="line-height: 25px">No worries<br /><small>Aenean quam massa, congue a aliquet at, rhoncus dignissim justo.</small></h3>
      </div>
    </div>
  </div>
</div>

