<div class="span5">
  <div class="well">
    <dl class="summary">
      <dt><%= t ".route" %></dt>
      <dd class="route">
        <span class="pickup"><%= @booking.pickup %></span>
        &rarr;
        <span class="dropoff"><%= @booking.dropoff %></span>
      </dd>

      <dt><%= t ".distance" %></dt>
      <dd class="distance"><%= number_with_unit_system(@booking.distance, :precision => 1) %></dd>

      <dt><%= t ".passenger_count" %></dt>
      <dd class="passenger_count"><%= t(".passenger_count_value", :count => @booking.passenger_count) %></dd>

      <dt><%= t ".pickup_time" %></dt>
      <dd class="pickup_time"><%=l @booking.pickup_time, :format => :long_with_day %></dd>

      <% if @booking.category %>
        <dt><%= t ".category" %></dt>
        <dd class="category"><%= @booking.category.to_s.humanize %> <%= raw "(#{@booking.vehicles_needed}&times;)" if @booking.rating %></dd>
      <% end %>
      
      <% if @booking.rating %>
        <dt><%= t ".extras" %></dt>
        <dd class="extras"><%= i18n_list @booking.rating.free_extras, :prefix => "activerecord.values.rating.extra" %></dd>
      <% end %>
      
      <% if @booking.price %>
        <dt><%= t ".price" %></dt>
        <dd class="price"><%= number_to_currency(@booking.price) %></dd>
      <% end %>
    </dl>
  </div>
</div>
