<section class="booking">
  <div class="row">
  
    <%= render :partial => "summary" %>

    <div class="span11">
      <%= form_for @booking do |f| %>
          <%= f.field :name %>
          <%= f.field(:email) do %>
            <%= f.email_field(:email) %>
          <% end %>
          <%= f.field(:telephone) do %>
            <%= f.phone_field(:telephone) %>
          <% end %>

          <div class="actions">
            <%= f.submit t(".button.submit"), :class => "btn default", :id => "booking_create" %>
          </div>
      <% end %>
    </div>
  </div>

</section>
