<% no_page_title! %>

<div class="row">
  <div class="span8" style="height: 430px; margin-left: 18px; border: 1px solid #000">
    <div class="page-header" style="text-align: center; margin: 10px auto;">
      <h1 style="font-size: 48px; line-height: 52px">
        <small>Flight - check. Hotel - check.<br/></small>
        
      </h1>
    </div>

    <%= form_for(@booking, :url => search_bookings_path, :method => :post) do |f| %>
      <fieldset id="search-booking-form">
        <div>
          <%= f.field(:airport_id) do %>
            <!-- <%= f.collection_select :airport_id, Airport.serviced.sorted_by_name.all, :id, :friendly_name %> -->
            <%= f.collection_select :airport_id, Airport.all, :id, :friendly_name %>
          <% end %>
          <%= f.radio_group(:direction, DIRECTIONS) %>
          <%= f.field :pickup_time do %>
            <%= f.datetime_select :pickup_time, {:start_year => Time.now.year, :end_year => Time.now.year + 1, :use_short_month => true, :default => 48.hours.from_now, :minute_step => 5}, {:class => "time"} %>
          <% end %>
          <%= f.field(:passenger_count) do %>
            <%= f.integer_field(:passenger_count) %>
          <% end %>
          <%= f.field :address %>
        </div>

        <div style="text-align: center; border-top: 1px solid #DDD; padding-top: 15px">
          <%= f.submit t(".search"), :class => "btn default", :id => "search-booking" %>
        </div>
      </fieldset>
    <% end %>
  </div>
  <div class="span8" style="height: 430px; margin-left: 18px; border: 1px solid #000">
    <%= render :partial => "how_does_it_work" %>
  </div>
</div>
<div class="row" style="margin-top: 20px">
  <div class="span16" style="height: 370px; margin-left: 18px; border: 1px solid #000">
    <%= render :partial => "advantages" %>
  </div>
</div>
