<section class="booking">
  <div class="row">
  
    <%= render :partial => "summary" %>

    <div class="span11">
      <table class="zebra-striped">
        <tr>
          <th><%= t ".transporter" %></th>
          <th><%= t ".category" %></th>
          <th><%= t ".vehicles_needed" %></th>
          <th><%= t ".included_extras" %></th>
          <th><%= t ".price" %></th>
          <th><%= t ".icon" %></th>
        </tr>
        <% @ratings.each do |rating| %>
          <tr class="<%= offer_classes(rating) %>">
            <td><%= rating.transporter %></td>
            <td><%= t("activerecord.values.rating.category.#{rating.category}") %></td>
            <td><%= rating.vehicles_needed %></td>
            <td><%= i18n_list rating.free_extras, :prefix => "activerecord.values.rating.extra" %>
            <td><%= number_to_currency rating.price(@booking) %></td>
            <td><%= button_to t(".go"), confirm_bookings_path(:rating_id => rating.id), :class => "btn confirm-booking" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

</section>
