<%= form_tag PAYMENT_PROVIDER_URL, :id => "payment_form" do %>
  <% @options.each do |key, value| %>
    <%= hidden_field_tag key, value %>
  <% end %>
    
  <%= submit_tag t('.to_payment'), :class => [:btn, :primary], :id => "pay" %>
<% end %>

<script type="text/javascript">
  document.getElementById("payment_form").submit()
</script>
