<section class="booking">
  <div class="row">
  
    <%= render :partial => "summary" %>

    <div class="span11">
      <table class="zebra-striped">
        <tr>
          <th><%= t ".category" %></th>
          <th><%= t ".transporters" %></th>
          <th><%= t ".min" %></th>
          <th><%= t ".avg" %></th>
          <th><%= t ".max" %></th>
          <th><%= t ".icon" %></th>
        </tr>
        <% @offers.each do |category, offer| %>
          <tr>
            <td><strong><%= category.to_s.humanize %></strong></td>
            <td><%= offer.transporter_count %></td>
            <td><%= number_to_currency offer.minimum_price %></td>
            <td><%= number_to_currency offer.average_price %></td>
            <td><%= number_to_currency offer.maximum_price %></td>
            <td><%= button_to t(".go"), offers_bookings_path(:category => category.to_s), :class => "btn offers-booking" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

</section>
