<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
  $(function() {
    var directionsDisplay = new google.maps.DirectionsRenderer();;
    var directionsService = new google.maps.DirectionsService();

    var map = new google.maps.Map(document.getElementById("map"), {mapTypeId: google.maps.MapTypeId.ROADMAP});
    directionsDisplay.setMap(map);
    
    var request = {
      origin: '<%= @booking.pickup(true) %>',
      destination: '<%= @booking.dropoff(true) %>',
      travelMode: google.maps.TravelMode.DRIVING
    };
    directionsService.route(request, function(result, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(result);
      }
    });
    
  });
</script>
<div class="row">
  <div class="span8">
    <table class="zebra-striped">
      <thead>
        <tr>
          <th colspan="2"><%= t(".transfer_for", :name => @booking.name, :phone => @booking.telephone) %></th>
        </tr>
      </thead>
      <tr>
        <td rowspan="3"><%= t("activerecord.attributes.booking.pickup") %></td>
        <td><b><%= @booking.pickup %></b></td>
      </tr>
      <tr><td style="border-left: 1px solid #ddd"><%= @booking.pickup_address || "-" %></td></tr>
      <tr><td style="border-left: 1px solid #ddd"><%= @booking.pickup_latlong || "-" %></td></tr>
      <tr>
        <td rowspan="3"><%= t("activerecord.attributes.booking.dropoff") %></td>
        <td><b><%= @booking.dropoff %></b>
      </tr>
      <tr><td style="border-left: 1px solid #ddd"><%= @booking.dropoff_address || "-" %></td></tr>
      <tr><td style="border-left: 1px solid #ddd"><%= @booking.dropoff_latlong || "-" %></td></tr>
      <tr>
        <td><%= t("activerecord.attributes.booking.distance") %></td>
        <td><%= number_with_unit_system(@booking.distance, :precision => 1) %></td>
      </tr>
      <tr>
        <td><%= t("activerecord.attributes.booking.price") %></td>
        <td><%= number_to_currency @booking.price %></td>
      </tr>
      <tr>
        <td><%= t("activerecord.attributes.booking.pickup_time") %></td>
        <td><%=l @booking.pickup_time, :format => :long %></td>
      </tr>
      <tr>
        <td><%= t("activerecord.attributes.booking.passenger_count") %></td>
        <td><%= @booking.passenger_count %></td>
      </tr>
      <tr>
        <td><%= t("bookings.offers.vehicles_needed") %></td>
        <td><%= @booking.vehicles_needed %>
      </tr>
    </table>
  </div>
  <div class="span8">
    <table class="zebra-striped">
      <thead>
        <tr>
          <th colspan="2"><%= link_to t(".rating"), edit_transporter_rating_path(@booking.transporter, @booking.rating) %></th>
        </tr>
      </thead>
      <tr>
        <td><%= t("activerecord.attributes.rating.category") %></td>
        <td><%= t("activerecord.values.rating.category.#{@booking.rating.category}") %>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="span8">
    <table class="zebra-striped">
      <thead>
        <tr>
          <th colspan="2"><%= link_to t(".transporter"), edit_transporter_path(@booking.transporter) %></th>
        </tr>
      </thead>
      <tr>
        <td><%= t("activerecord.attributes.transporter.company_name") %></td>
        <td><%= @booking.transporter.company_name %></td>
      </tr>
      <tr>
        <td><%= t("activerecord.attributes.transporter.country") %></td>
        <td><%= t("country.#{@booking.transporter.country_code}") %></td>
      </tr>
      <tr>
        <td><%= t("activerecord.attributes.transporter.operational_manager") %></td>
        <td><%= @booking.transporter.operational_manager %></td>
      </tr>
      <tr>
        <td><%= t("activerecord.attributes.transporter.email") %></td>
        <td><%= @booking.transporter.email %></td>
      </tr>
      <tr>
        <td><%= t("activerecord.attributes.transporter.phone_number") %></td>
        <td><%= @booking.transporter.phone_number %></td>
      </tr>
      <tr>
        <td><%= t("activerecord.attributes.transporter.booking_phone") %></td>
        <td><%= @booking.transporter.booking_phone %></td>
      </tr>
      <tr>
        <td><%= t("activerecord.attributes.transporter.booking_email") %></td>
        <td><%= @booking.transporter.booking_email %></td>
      </tr>
    </table>
  </div>
  <div class="span8" id="map" style="height: 304px;"></div>
</div>
